<a href="https://colab.research.google.com/github/minticpro13/MisionTic2022/blob/main/Cadenas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
cadena = "la clase ya casi se acaba"
numero = 4896845
# for letra in cadena:
#   print(letra)
for digito in str(numero):
  print(digito)

if cadena[-1] == "a":
  print("iguales")

4
8
9
6
8
4
5
iguales

In [ ]:
cadena = "A\n\tA\tB\n\tManuel\tzambrano"
print(cadena)

A
	A	B
	Manuel	zambrano

In [ ]:
cadena = "\"manuel\""
print(cadena)
cadena = '"manuel"'
print(cadena)
cadena = "'manuel'\u069E"
cadena = "\u069E"
cadena_vacia = ""
print(cadena_vacia)

"manuel"
"manuel"

In [ ]:
nombre = "Minch"
apellido = "yoda"
print(nombre +" "+ apellido)

digitos = ""
for i in range(0,10,1): #range(10)
  digitos = digitos + str(i)

print(digitos)

Minch yoda
0123456789

In [ ]:
print("Rosas" < "Rojas")
print("Rosas" != "Rojas")
print("Rosa" < "Rojas")
print("Roja" < "Rojas")
print("Roja" < "roja")
print("Roja" < "rojas")

False
True
False
True
True
True

In [ ]:
cadena = "Minch Yoda"
print(cadena[9])
print(cadena[-1])
largo = len(cadena)
print(largo)
print(cadena[largo-1])

a
a
10
a

In [ ]:
cadena = "Minch Yoda"
largo = len(cadena)
for i in range(largo):
  print(cadena[i], end="")
print("")
for caracter in cadena:
  print(caracter, end="")

Minch Yoda
Minch Yoda

In [ ]:
cadena = "Minch Yoda"
cadenas_con_a = 0
if "a" in cadena:
  cadenas_con_a += 1
  print(cadena)

print(cadenas_con_a)

Minch Yoda
1

In [ ]:
nombre = "Minch Yoda"
trabajo = "Stars War"
planeta = "Tatoon \t cinco"
vacia = ""
print(len(nombre))
print(len(trabajo))
print(len(planeta))
print(len(vacia))

10
9
14
0

In [ ]:
cadena = "Minch Yoda"
for i in range(7):#range(0,5)
  print(cadena[i], end="")
print("")
print(cadena[:7])

Minch Y
Minch Y

In [ ]:
cadena = "Minch Yoda"
for i in range(2,7):#range(0,5)
  print(cadena[i], end="")
print("")
print(cadena[2:7])

nch Y
nch Y

In [ ]:
cadena = "Minch Yoda"
for i in range(2,7,2):#range(0,5)
  print(cadena[i], end="")
print("")
print(cadena[2:7:2])

nhY
nhY

In [ ]:
cadena = "Minch Yoda"
print(cadena[::-1])
print(cadena[::-1])

adoY hcniM
oY hc

In [ ]:
cadena = "The avengers"
# print(cadena.count("e"))
# print(cadena.count("a"))
# print(cadena.count("e",3,7))
largo = len(cadena)
print(largo)
print(cadena.count("s",3,largo))
print(cadena.count("s",3,largo-1))

12
1
0

In [ ]:
cadena = "la clase ya casi se acaba"
pos = cadena.find("clase")
print(cadena[pos:pos+5])

clase

In [ ]:
str2 = "It is not despair, for despair is " \
"only for those who see the end " \
"beyond all doubt. We do not."
print("first:", str2.find("despair"))
print("last:", str2.rfind("despair"))

first: 10
last: 23

In [ ]:
cadena = "La clase ya casi se acaba"
print(cadena.upper())
print(cadena.lower())
print(cadena.capitalize())
print(cadena.title())
print(cadena.swapcase())

LA CLASE YA CASI SE ACABA
la clase ya casi se acaba
La clase ya casi se acaba
La Clase Ya Casi Se Acaba
lA CLASE YA CASI SE ACABA

In [7]:
cadena = "---++--cien años de soledad---++--"
cuenta ="000000082151000"
print (cadena)
print(cadena.strip())
print(cadena.lstrip("-+"))
print(cadena.rstrip("-+"))

---++--cien años de soledad---++--
---++--cien años de soledad---++--
cien años de soledad---++--
---++--cien años de soledad

In [15]:
fecha = "09-05-2022"
datos = fecha.split("-")
print("día:"+str(datos[0]), "mes:", datos[1], "año:", datos[2])
print("día:", datos[0], "mes:", datos[1], "año:", datos[2], sep="")
print("día:", (datos[0]), sep="", end=" " )
print("mes:", datos[1], sep="" )
print("año:", datos[2], sep="" )

día:09 mes: 05 año: 2022
día:09mes:05año:2022
día:09 mes:05
año:2022

In [21]:
cadena = "Bienvenidos"
print(cadena.ljust(30, "-") )
print(cadena.rjust(30, "-") )
print(cadena.center(5, "-") )
print(cadena.zfill(30) )

Bienvenidos-------------------
-------------------Bienvenidos
Bienvenidos
0000000000000000000Bienvenidos

In [24]:
valido =  False
nombre = ""
while(not valido):
  nombre = input("digite un nombre entre 4 y 8 letras:")
  if (4 <= len(nombre) <= 8 ):
    valido = True

print("bienvenido", nombre)

digite un nombre entre 4 y 8 letras:edilberto
digite un nombre entre 4 y 8 letras:adg
digite un nombre entre 4 y 8 letras:elsa
bienvenido elsa

In [25]:
cadena = "cien años de soledad"
nueva = cadena.replace("cien", "setenta")
print(nueva)
nueva = nueva.replace("años", "días")
print(nueva)
nueva = nueva.replace("soledad", "clases sincronicas")
print(nueva)

setenta años de soledad
setenta días de soledad
setenta días de clases sincronicas