<a href="https://colab.research.google.com/github/minticpro13/MisionTic2022/blob/main/Ciclo_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
n = int(input("sumar hasta: "))
suma = 0
for i in range(0,n+1,1): #[0,1,2,3,4,5]
  suma += i
print(suma)

sumar hasta: 5
7

In [5]:
frutas = ["maracuya","guayaba", "tomate de arbol"]

for fruta in frutas: 
  print(fruta)

maracuya
guayaba
tomate de arbol

In [14]:
frutas = ["Pera", "Maracuyá ", "Guayaba", "Lulo", "Granadilla"]

for f in frutas:
  print(f)
  if f == "Guayaba": 
    break
  # if "ya" in f:
  #   break

Pera
Maracuyá
Guayaba

In [13]:
range(5)  #(0,5,1)

for n in range(5,-2,-2):
  print(n)

5
3
1
-1

In [15]:
for n in range(-2): #range(0,-2,1)
  print(n)
lista = []