<a href="https://colab.research.google.com/github/minticpro13/MisionTic2022/blob/main/JSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
diccionario = {
"Nombre": "Douglas",
"Apellido": "Crockford",
"pasatiempos": ["trotar", "bucear", "cantar"],
"edad": 64,
"empleado": False,
"jefe": None,
"hijos": [
    {"Nombre": "Alice", "edad": 16},
    {"Nombre": "Bob", "edad": 8}
  ],
}
print(diccionario["hijos"][0]["edad"])
print(diccionario["hijos"][1]["edad"])
print(diccionario["hijos"][1]["edad"] + diccionario["hijos"][0]["edad"])

In [ ]:
import json
data = {
  "cientifico": {
    "nombre": "Alan Mathison Turing",
    "edad": "41"
  }
}
with open("data_file.json", "w") as write_file:
  json.dump(data, write_file)

In [ ]:
import json
data = {
  "cientifico": {
    "nombre": "Alan Mathison Turing",
    "edad": "41"
  }
}
cadena = json.dumps(data)
print(cadena, type(cadena))

{"cientifico": {"nombre": "Alan Mathison Turing", "edad": "41"}} <class 'str'>

In [ ]:
import json
data = {
  "cientifico": {
    "nombre": "Alan Mathison Turing",
    "edad": "41"
  }
}
cadena = json.dumps(data, indent=2)
print(cadena)

{
  "cientifico": {
    "nombre": "Alan Mathison Turing",
    "edad": "41"
  }
}

In [ ]:
import json

with open("data_file.json", "r") as read_file:
  data = json.load(read_file)
  print(data["cientifico"])

{'nombre': 'Alan Mathison Turing', 'edad': '41'}

In [ ]:
import json
from pprint import pprint 
cadena = '''{"cientifico": {"nombre": "Alan Mathison Turing", "edad": "41"},"boolean1": null,"diccionario": {"papa": 2000, "arroz": 5000}}'''

data = json.loads(cadena)
pprint(data)

{'boolean1': None,
 'cientifico': {'edad': '41', 'nombre': 'Alan Mathison Turing'},
 'diccionario': {'arroz': 5000, 'papa': 2000}}

In [ ]:
import json
from pprint import pprint
strjson = '''{
"boolean1": null,"diccionario": {"papa": 2000, "arroz": 5000},
"intValue": 0, "myList": [],
"myList2":["info1", "info2"],
"littleboolean": false, "myEmptyList": null,
"text1": null, "text2": "hello", "value1": null,
"value2": null}'''
data = json.loads(strjson)
pprint(data)

{'boolean1': None,
 'diccionario': {'arroz': 5000, 'papa': 2000},
 'intValue': 0,
 'littleboolean': False,
 'myEmptyList': None,
 'myList': [],
 'myList2': ['info1', 'info2'],
 'text1': None,
 'text2': 'hello',
 'value1': None,
 'value2': None}

In [ ]:
import json, requests

url = "https://jsonplaceholder.typicode.com/todos"

response = requests.get(url)
data = json.loads(response.text)
# print(response.text)
# if data[0]["completed"] == False:
#   print("1")
print(data[0])

1
{'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False}

In [13]:
lista = ["hola" , "como", "estan"]
lista2 = ["hola" , "como", "estan"]
entrada = input().split(" ")
print(type(entrada))
for x in entrada:
  print(x)

hola casa oso
<class 'list'>
hola
casa
oso

In [17]:
import json
from pprint import pprint
strjson = '''{
"boolean1": null,"diccionario": {"papa": 2000, "arroz": 5000},
"intValue": 0, "myList": [],
"myList2":["info1", "info2"],
"littleboolean": false, "myEmptyList": null,
"text1": null, "text2": "hello", "value1": null,
"value2": null}'''
data = json.loads(strjson)

lista = []
for i,j in data.items():
  print(i,j)
  lista.append(i)

print(lista)

boolean1 None
diccionario {'papa': 2000, 'arroz': 5000}
intValue 0
myList []
myList2 ['info1', 'info2']
littleboolean False
myEmptyList None
text1 None
text2 hello
value1 None
value2 None
['boolean1', 'diccionario', 'intValue', 'myList', 'myList2', 'littleboolean', 'myEmptyList', 'text1', 'text2', 'value1', 'value2']

In [45]:
import json, requests
from pprint import pprint
url = "https://swapi.dev/api/people"

response = requests.get(url)
data = json.loads(response.text)
# pprint(len(data["results"]))
personas = data["results"]
for persona in personas: 

  # if persona["eye_color"] == "blue":
  print(persona["name"])
  for pelicula in persona["films"]:
    # print(pelicula)
    movie = requests.get(pelicula)
    movie = json.loads(movie.text)
    pprint(movie["title"])

Luke Skywalker
'A New Hope'
'The Empire Strikes Back'
'Return of the Jedi'
'Revenge of the Sith'
C-3PO
'A New Hope'
'The Empire Strikes Back'
'Return of the Jedi'
'The Phantom Menace'
'Attack of the Clones'
'Revenge of the Sith'
R2-D2
'A New Hope'
'The Empire Strikes Back'
'Return of the Jedi'
'The Phantom Menace'
'Attack of the Clones'
'Revenge of the Sith'
Darth Vader
'A New Hope'
'The Empire Strikes Back'
'Return of the Jedi'
'Revenge of the Sith'
Leia Organa
'A New Hope'
'The Empire Strikes Back'
'Return of the Jedi'
'Revenge of the Sith'
Owen Lars
'A New Hope'
'Attack of the Clones'
'Revenge of the Sith'
Beru Whitesun lars
'A New Hope'
'Attack of the Clones'
'Revenge of the Sith'
R5-D4
'A New Hope'
Biggs Darklighter
'A New Hope'
Obi-Wan Kenobi
'A New Hope'
'The Empire Strikes Back'
'Return of the Jedi'
'The Phantom Menace'
'Attack of the Clones'
'Revenge of the Sith'

In [55]:
with open("/content/files/SalesJan2009.csv", "r") as f:
  ventas = f.read()
  print(ventas.count("Australia"))

45

In [60]:
with open("/content/files/SalesJan2009.csv", "r") as f:
  cabeceras = f.readline().split(",")
  valores = f.readline().split(",")
  datos = dict(zip(cabeceras, valores))
  pprint(datos)
  # for  venta in datos:
  #   print(datos["Country"])

{'Account_Created': '1/2/2009 6:00',
 'City': 'Basildon',
 'Country': 'United Kingdom',
 'Last_Login': '1/2/2009 6:08',
 'Latitude': '51.5',
 'Longitude\n': '-1.1166667\n',
 'Name': 'carolina',
 'Payment_Type': 'Mastercard',
 'Price': '1200',
 'Product': 'Product1',
 'State': 'England',
 'Transaction_date': '1/2/2009 6:17'}

In [ ]:
with open("/content/files/SalesJan2009.csv", "r") as f:
  cabeceras = f.readline().split(",")
  ventas = []
  for line in f:
    valores = line.split(",")
    datos = dict(zip(cabeceras, valores))
    ventas.append(datos)
pprint(ventas[0:10])

In [68]:
with open("/content/files/SalesJan2009.csv", "r") as f:
  cabeceras = f.readline().split(",")
  ventas = []
  for line in f:
    valores = line.split(",")
    datos = dict(zip(cabeceras, valores))
    ventas.append(datos)

  campo = input("digite el campo para filtrar: ")
  valor = input("digite el valor para contar: ")
  total = 0
  for venta in ventas:
    if venta.get(campo) == valor:
      total+=1
  print("la busqueda ", campo,"=",valor, "retorna", total, "registros")

digite el campo para filtrar: Payment_Type
digite el valor para contar: Visa
la busqueda  Payment_Type = Visa retorna 521 registros

In [73]:
with open("/content/files/SalesJan2009.csv", "r") as f:
  cabeceras = f.readline().split(",")
  ventas = []
  for line in f:
    valores = line.split(",")
    datos = dict(zip(cabeceras, valores))
    ventas.append(datos)

  campo = input("digite el campo para filtrar: ")
  valor = input("digite el valor para contar: ")
  total = 0
  for venta in ventas:
    if venta.get(campo) == valor:
      total+=float(venta.get("Price"))
  print("la busqueda ", campo,"=",valor, "retorna", total, " en ventas")

digite el campo para filtrar: Payment_Type
digite el valor para contar: Visa
la busqueda  Payment_Type = Visa retorna 836350.0  en ventas