<a href="https://colab.research.google.com/github/minticpro13/MisionTic2022/blob/main/Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lista = []
tupla = ()

In [ ]:
lista = ["hola"]
tupla = ("hola",)

In [ ]:
lista = ["hola", 1]
tupla = ("hola", 1)

In [ ]:
lista = ["hola", "estudiantes"]
tupla = ("hola", "estudiantes")

In [ ]:
tupla = tuple(lista)
lista = list(tupla)
print(lista)
print(tupla)

['hola', 'estudiantes']
('hola', 'estudiantes')

In [ ]:
lista[0] = "lista"
# tupla[0] = "tupla"

In [1]:
nombres = ["john", "maria", "manuel"]
otros = ["juan", "sarah", "daniel"]

nombres.extend(otros)
print(nombres)
print(otros)

['john', 'maria', 'manuel', 'juan', 'sarah', 'daniel']
['juan', 'sarah', 'daniel']

In [2]:
print(["Rojas", 123] < ["Rosas", 123])
print(["Rosas", 123] == ["rosas", 123])
print(["Rosas", 123] > ["Rosas", 23])
print(["Rosas", "123"] > ["Rosas", "23"])
print(["Rosas", "123"] > ["Rosas", 23])

True
False
True
False

TypeError: ignored

In [5]:
avengers = ["Ironman", "Thor", "Ant-man", "Hulk"]
print(avengers[0])
print(avengers[3])
print(avengers[-1])
print(avengers[-3])

Ironman
Hulk
Hulk
Thor

In [7]:
text = ["cien", "años", "de", "soledad"]
text = ["cien años", "de", "soledad"]
if "años" in text:
  print("Si está en la lista")
else:
  print("No está en la lista")

No está en la lista

In [11]:
avengers = ["Ironman", "Thor", "Ant-man", "Hulk"]
for vengador in avengers:
  print(vengador, end=",")

Ironman,Thor,Ant-man,Hulk,

In [14]:
d = 10
desplaza = [d + x for x in range(5)]
print(desplaza)
potencias = [3 ** x for x in range(2, 6)]
print(potencias)
poten = []
for x in range(2, 6):
  poten.append(3 ** x)
print(poten)

[10, 11, 12, 13, 14]
[9, 27, 81, 243]
[9, 27, 81, 243]

In [ ]:
def minmax(a, b):
  if a < b:
    return [a, b] #return (a ,b)
  else:
    return [b, a] #return b, a
x, y = minmax(5, 13)
print("min =", x, ",", "max =", y)
x, y = minmax(12, -4)
print("min =", x, ",", "max =", y)

In [17]:
lista = ["E", "l", "m", "e", "j", "o", "r"]
lista[0] = "e"
print(lista)
lista[4] = "l"
print(lista)
lista[-1] = "s"
print(lista)

['e', 'l', 'm', 'e', 'j', 'o', 'r']
['e', 'l', 'm', 'e', 'l', 'o', 'r']
['e', 'l', 'm', 'e', 'l', 'o', 's']

In [18]:
nombres = ["Antonio", "Johan"]
nombres.append("Monica")
print(nombres)
nombres.append("Maria")
print(nombres)
nombres.append("Mabel")
print(nombres)

['Antonio', 'Johan', 'Monica']
['Antonio', 'Johan', 'Monica', 'Maria']
['Antonio', 'Johan', 'Monica', 'Maria', 'Mabel']

In [ ]:
nombres = ["Antonio", "Johan", "Maria"]
nombres.insert(1, "Guttag")
print(nombres)
nombres.insert(2, "Peter")
print(nombres)
nombres.insert(len(nombres)//2, 10)
print(nombres)

In [19]:
avengers = ["Ironman", "Thor", "Ant-man", "Hulk"]
print(avengers[:2])
print(avengers[1:3])
print(avengers[3:3])
print(avengers[::-1])

['Ironman', 'Thor']
['Thor', 'Ant-man']
[]
['Hulk', 'Ant-man', 'Thor', 'Ironman']

In [21]:
lista = ["Ironman", "Thor", "Ant-man", "Hulk", "Hulk","Hulk", "Thor"]
print(lista.count("Thor"))
print(lista.count("Ironman"))
print(lista.count("Hulk"))

2
1
3

In [24]:
lista = ["Ironman", "Thor", "Ant-man", "Hulk", "Hulk", "Hulk", "Thor"]
conteo = lista.count("Hulk")
for i in range(conteo):
  lista.remove("Hulk")
print(lista)

['Ironman', 'Thor', 'Ant-man', 'Thor']