<a href="https://colab.research.google.com/github/minticpro13/MisionTic2022/blob/main/Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
tupla = 1,2,3

print(tupla)

(1, 2, 3)

In [8]:
tupla1 = (1,"2",3,"4", True)
tupla2 = ("A","B","C")
tupla3 = (tupla1,tupla2)
print(tupla1)
print(tupla2)
print(tupla3)
print(tupla1[0])
print(tupla2[2])
print(tupla3[0][4])

(1, '2', 3, '4', True)
('A', 'B', 'C')
((1, '2', 3, '4', True), ('A', 'B', 'C'))
1
C
True

In [9]:
tupla1 = (1,"2",3,"4", True)
tupla2 = ("A","B","C")
tupla_junta_no_revuelta = tupla1 + tupla2
print(tupla_junta_no_revuelta)

(1, '2', 3, '4', True, 'A', 'B', 'C')

In [10]:
tup2 = (1, 2, 3, 4, 5)
tup3 = tup2 * 3
print(tup3)
tup4 = ("Abc", "Bcd")
tup5 = tup4 * 2
print(tup5)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
('Abc', 'Bcd', 'Abc', 'Bcd')

In [13]:
print(("Rojas", 123) < ("Rosas", 123))
print(("Rosas", 123) == ("rosas", 123))
print(("Rosas", 123) > ("Rosas", 23))
print(("Rojas", "123") > ("Rosas", 23))
print(("Rosas", "123") > ("Rosas", "23"))

True
False
True
False
False

In [14]:
avengers = ("Ironman", "Thor", "Ant-man", "Hulk")
print(avengers[0])
print(avengers[3])
print(avengers[-1])
print(avengers[-3])

Ironman
Hulk
Hulk
Thor

In [18]:
palabras = ("cien", "años", "de", "soledad")
# palabras = ("cien años", "de", "soledad")
if "años" in palabras:
  print("Si está en la tupla")
else:
  print("No está en la tupla")

Si está en la tupla

In [20]:
palabras = ("cien años", "de", "soledad")
if "años" in palabras[0]:
# if "años" in "cien años":
  print("si")

si

In [22]:
text = ("cien", "años", "de", "soledad")
if "compañia" not in text:
  print("No está en la tupla")
else:
  print("Si está en la tupla")

No está en la tupla

In [24]:
tupla = ("cien", "años", "de", "soledad")
for x in tupla:
  print(x)

cien
años
de
soledad

In [28]:
tupla1 = 1,2,3
print(tupla1)
primero, segundo, tercero = tupla1
print(primero)
print(segundo)
print(tercero)

(1, 2, 3)
1
2
3

In [32]:
def devolver_varios():
  tupla1 = 8,45,9
  print(len(tupla1))
  return tupla1

primero, segundo, tercero = devolver_varios() # tupla1

print(primero)
print(segundo)
print(tercero)

3
8
45
9

In [33]:
primero, segundo, tercero = 1,2,3

print(primero)
print(segundo)
print(tercero)

6
2
3

In [37]:
tupla1 = 8,45,9
print(tupla1[0]+tupla1[1]+tupla1[2])
# tupla1[0] = tupla1[0]+5
type(devolver_varios)

62

function