<a href="https://colab.research.google.com/github/minticpro13/MisionTic2022/blob/main/Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tupla = 1,2,3

print(tupla)

(1, 2, 3)

In [ ]:
tupla1 = (1,"2",3,"4", True)
tupla2 = ("A","B","C")
tupla3 = (tupla1,tupla2)
print(tupla1)
print(tupla2)
print(tupla3)
print(tupla1[0])
print(tupla2[2])
print(tupla3[0][4])

(1, '2', 3, '4', True)
('A', 'B', 'C')
((1, '2', 3, '4', True), ('A', 'B', 'C'))
1
C
True

In [ ]:
tupla1 = (1,"2",3,"4", True)
tupla2 = ("A","B","C")
tupla_junta_no_revuelta = tupla1 + tupla2
print(tupla_junta_no_revuelta)

(1, '2', 3, '4', True, 'A', 'B', 'C')

In [ ]:
tup2 = (1, 2, 3, 4, 5)
tup3 = tup2 * 3
print(tup3)
tup4 = ("Abc", "Bcd")
tup5 = tup4 * 2
print(tup5)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
('Abc', 'Bcd', 'Abc', 'Bcd')

In [ ]:
print(("Rojas", 123) < ("Rosas", 123))
print(("Rosas", 123) == ("rosas", 123))
print(("Rosas", 123) > ("Rosas", 23))
print(("Rojas", "123") > ("Rosas", 23))
print(("Rosas", "123") > ("Rosas", "23"))

True
False
True
False
False

In [ ]:
avengers = ("Ironman", "Thor", "Ant-man", "Hulk")
print(avengers[0])
print(avengers[3])
print(avengers[-1])
print(avengers[-3])

Ironman
Hulk
Hulk
Thor

In [ ]:
palabras = ("cien", "años", "de", "soledad")
# palabras = ("cien años", "de", "soledad")
if "años" in palabras:
  print("Si está en la tupla")
else:
  print("No está en la tupla")

Si está en la tupla

In [ ]:
palabras = ("cien años", "de", "soledad")
if "años" in palabras[0]:
# if "años" in "cien años":
  print("si")

si

In [ ]:
text = ("cien", "años", "de", "soledad")
if "compañia" not in text:
  print("No está en la tupla")
else:
  print("Si está en la tupla")

No está en la tupla

In [ ]:
tupla = ("cien", "años", "de", "soledad")
for x in tupla:
  print(x)

cien
años
de
soledad

In [ ]:
tupla1 = 1,2,3
print(tupla1)
primero, segundo, tercero = tupla1
print(primero)
print(segundo)
print(tercero)

(1, 2, 3)
1
2
3

In [ ]:
def devolver_varios():
  tupla1 = 8,45,9
  print(len(tupla1))
  return tupla1

primero, segundo, tercero = devolver_varios() # tupla1

print(primero)
print(segundo)
print(tercero)

3
8
45
9

In [ ]:
primero, segundo, tercero = 1,2,3

print(primero)
print(segundo)
print(tercero)

6
2
3

In [ ]:
tupla1 = 8,45,9
print(tupla1[0]+tupla1[1]+tupla1[2])
# tupla1[0] = tupla1[0]+5
type(devolver_varios)

62

function

In [15]:
tupla = (11, 9, -2, 3, 8, 5)
var1, var2, var3 = (tupla[i] for i in (0, 2, 4)) #(9,3,5)
# var1, var2, var3 = (9,3,5)
nueva_tupla = (tupla[i] for i in (1, 3, 5))
# print(nueva_tupla)
# for elemento in nueva_tupla:
#   print(elemento)
print(var1)
print(var2)
print(var3)

11
-2
8

In [23]:
tupla = (11, 9, -2, 14, 8, 25)
for i in range(1):
   print(tupla[i])

11

In [28]:
def minmax(a,b):
  if a < b:
    return a, b
  else:
    return b, a

minimo, maximo = minmax( 5, 8)

print("minimo:", minimo, "maximo:", maximo )

minimo: 5 maximo: 8

In [29]:
tup = (1, 2, 3, 4)
nombre = ("Minch", "Yoda")
trabajo = ("Stars", "War", "Movie")
empty = ()
print(len(tup))
print(len(nombre))
print(len(trabajo))
print(len(empty))

4
2
3
0

In [37]:
trabajo = ("Stars", "War", "Movie")
print(trabajo[0:2])
print(len(trabajo))

('Stars', 'War')
3

In [38]:
for i in range(0,3):
  print(trabajo[i]+"s", end=" ")

Starss Wars Movies

In [41]:
tupla = (4, 3, 8, 8, 2, 5, 4, 6, 8, 9)
print(tupla.count(8))
print(tupla.count(4))
print(tupla.count(1))

3
2
0

In [45]:
tupla = (4, 3, 8, 8, 2, 5, 4, 6, 8, 9)
pos = tupla.index(2)
print(tupla[pos:len(tupla)])
print(tupla[pos:pos+3])
print(tupla.index(8))
print(tupla.index(5))

(2, 5, 4, 6, 8, 9)
(2, 5, 4)
2
5

In [ ]:
del max
del min

In [59]:
tupla = (4, 3, 8, 8, 2, 5, 4, 6, 8, 9)
tupla = ("4", "3", "8", "8", "2", "CINCO", "hola", "6")
print(tupla)
print(max(tupla))
print(min(tupla))

('4', '3', '8', '8', '2', 'CINCO', 'hola', '6')
hola
2